h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  width: 270px;
  cursor: pointer;
  transition: 0.2s;
  padding: 20px;

  &:hover {
    transform: translateY(-6px);
    background: rgba(255,255,255,0.09);
  }
}
