.programmer-dashboard {
  padding: 20px;

  h1 {
    font-size: 30px;
  }

  .subtitle {
    color: #666;
    margin-bottom: 25px;
  }

  .cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .card {
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: .2s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 18px rgba(0,0,0,0.15);
    }
  }
}
