<button class="back-btn" routerLink="/">← Regresar</button>

<h1>Bienvenido, {{ user?.displayName }}</h1>
<p class="subtitle">Panel del Programador</p>

<div class="cards">

  <div class="card-default card" (click)="go('/programmer/projects')">
    <h2>Mis Proyectos</h2>
    <p>Gestiona tus proyectos profesionales o académicos</p>
  </div>

  <div class="card-default card" (click)="go('/programmer/appointments')">
    <h2>Asesorías</h2>
    <p>Revisa solicitudes de asesoría</p>
  </div>

</div>
