h1 {
  margin-bottom: 5px;
}

.subtitle {
  color: #94a3b8;
  margin-bottom: 35px;
}

.cards {
  display: flex;
  gap: 25px;
}

.card {
  width: 270px;
  cursor: pointer;
  transition: .2s;

  &:hover {
    transform: translateY(-6px);
    background: rgba(255,255,255,0.08);
  }
}
