.explorar-container {
  padding: 40px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitle {
  color: #ccc;
  margin-bottom: 20px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 220px;
  padding: 15px;
  background: #0f1e33;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.name {
  color: white;
  margin-bottom: 10px;
}

.btn {
  background: #3b82f6;
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #2563eb;
}
