.container {
  padding: 20px;

  h1 {
    margin-bottom: 20px;
  }

  form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    label {
      font-weight: bold;
    }

    input, textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      width: 100%;
    }

    .btn-save {
      margin-top: 10px;
      background: #0ca678;
      border: none;
      padding: 12px;
      color: white;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
