.container {
  padding: 20px;

  form {
    background: white;
    padding: 20px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    label {
      font-weight: bold;
    }

    input, textarea, select {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
    }

    .btn-save {
      background: #0ca678;
      padding: 12px;
      border: none;
      color: white;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 10px;
    }
  }
}
