form {
  display: flex;
  flex-direction: column;
  gap: 14px;

  background: var(--color-light);
  padding: 20px;
  border-radius: 14px;

  label {
    font-weight: 600;
  }

  input, textarea, select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #334155;
    background: #1e293b;
    color: white;
  }
}
