.form-container {
  max-width: 450px;
  padding: 20px;
  background: var(--color-light);
  border-radius: 12px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: var(--color-text);
}

input, select {
  width: 100%;
  padding: 10px;
  background: #0f172a;
  border: 1px solid var(--color-primary);
  color: var(--color-text);
  border-radius: 8px;
  margin-bottom: 15px;
}
