.btn-primary {
  margin-bottom: 20px;
}

.projects {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

.project {
  padding: 18px;

  .type {
    color: var(--color-secondary);
    margin-bottom: 5px;
  }

  .desc {
    margin: 8px 0;
    color: #cbd5e1;
  }

  .links a {
    color: var(--color-primary);
    margin-right: 12px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
