<button class="back-btn" routerLink="/programmer/dashboard">← Regresar</button>

<h1>Solicitudes de Asesoría</h1>

<div class="list">

  <div class="card-default item" *ngFor="let a of appointments">

    <h3>{{ a.date }} — {{ a.time }}</h3>

    <p><strong>Usuario:</strong> {{ a.userId }}</p>
    <p><strong>Motivo:</strong> {{ a.reason }}</p>

    <p [ngClass]="{
      'status-pendiente': a.status === 'pendiente',
      'status-aprobada': a.status === 'aprobada',
      'status-rechazada': a.status === 'rechazada'
    }">
      Estado: {{ a.status }}
    </p>

    <div *ngIf="a.status === 'pendiente'" class="buttons">
      <button class="btn-success" (click)="updateStatus(a, 'aprobada')">Aprobar</button>
      <button class="btn-danger" (click)="updateStatus(a, 'rechazada')">Rechazar</button>
    </div>

    <div *ngIf="a.status !== 'pendiente'" class="response">
      <strong>Mensaje enviado:</strong>
      <p>{{ a.responseMessage }}</p>
    </div>

  </div>

</div>
