.list {
  display: grid;
  gap: 20px;
}

.item {
  padding: 18px;

  h3 {
    margin-bottom: 10px;
  }

  .buttons {
    display: flex;
    gap: 12px;
    margin-top: 12px;
  }

  .response {
    background: rgba(255,255,255,0.07);
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
  }
}
