.form-container {
  max-width: 450px;
  padding: 20px;
  background: var(--color-light);
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  background: #0f172a;
  border: 1px solid var(--color-primary);
  color: var(--color-text);
  border-radius: 8px;
  margin-bottom: 15px;
}
