table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #334155;
}

.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
