.login-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.login-card {
  width: 380px;
  text-align: center;

  .subtitle {
    margin-bottom: 25px;
    color: #94a3b8;
  }
}

.btn-google {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;

  .google-icon {
    width: 25px;
    height: 25px;
  }
}
