.footer {
  height: 60px;
  background: #0a0f1d;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #94a3b8;
  font-size: 14px;

  margin-top: 40px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
