h1 {
  margin-bottom: 20px;
}

select, input {
  padding: 8px;
  border-radius: 6px;
  background: #1e293b;
  border: 1px solid #334155;
  color: white;
}

.form-inline {
  display: flex;
  gap: 12px;

  button {
    margin-left: 10px;
  }
}

ul {
  background: var(--color-light);
  padding: 15px;
  border-radius: 12px;
  list-style: none;

  li {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
  }
}

.btn-small {
  padding: 6px 10px;
  font-size: 13px;
}

.mt-30 {
  margin-top: 30px;
}

select {
  background: var(--color-light);
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

select option {
  background: var(--color-light);
  color: var(--color-text);
}
