.header {
  text-align: center;
  margin-bottom: 40px;

  .avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 14px;
    border: 3px solid var(--color-primary);
  }

  .speciality {
    font-weight: bold;
    color: var(--color-secondary);
    margin-bottom: 8px;
  }

  .bio {
    max-width: 600px;
    margin: 10px auto;
    color: #cbd5e1;
  }

  .social a {
    margin: 0 10px;
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .mt-20 {
    margin-top: 20px;
  }
}

.project-list {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  margin-bottom: 35px;

  .project {
    padding: 18px;
  }
}
