<nav class="navbar">

  <div class="left">
    <a routerLink="/" class="logo">PortafolioPro</a>
  </div>

  <div class="middle">
    <a routerLink="/" routerLinkActive="active">Inicio</a>

    <!-- SOLO ADMIN -->
    <a *ngIf="user?.role === 'admin'"
       routerLink="/admin/dashboard"
       routerLinkActive="active">Administrador</a>

    <!-- SOLO PROGRAMADOR -->
    <a *ngIf="user?.role === 'programmer'"
       routerLink="/programmer/dashboard"
       routerLinkActive="active">Programador</a>

    <!-- SOLO USER -->
    <a *ngIf="user?.role === 'user'"
       routerLink="/"
       routerLinkActive="active">Explorar</a>
  </div>

  <div class="right">

    <!-- SI ESTÁ LOGUEADO -->
    <ng-container *ngIf="user; else noUser">

      <img class="avatar" [src]="user.photoURL" alt="Foto">

      <span class="name">{{ user.displayName }}</span>

      <button class="btn-danger logout-btn" (click)="logout()">Salir</button>

    </ng-container>

    <!-- SI NO ESTÁ LOGUEADO -->
    <ng-template #noUser>
      <button routerLink="/login" class="btn-primary">Ingresar</button>
    </ng-template>

  </div>

</nav>
